.social{
    position: relative;
    display: flex;
    justify-content: space-around;
    bottom: 30px;

    img{
        width: 50px;
    }
}

.float{
    position: fixed;
    top: 10px;
    right:20px;
    width: 120px;


    a{
        margin: 0px 10px ;
    }
    img{
        width: 30px;
    }
}